.spinner {
    height: 100%;
    background: white;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    -webkit-animation: spinner 2s linear;
            animation: spinner 2s linear;
    visibility: hidden;
  }
  
  .spinner__border {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 10px solid transparent;
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #FF79DA;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: spinner-border 2s linear;
            animation: spinner-border 2s linear;
    z-index: 10;
    visibility: hidden;
  }
  
  .spinner__center {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #99E2D0;
  }